@model OrderModel
@{
    ViewData["Title"] = "Подтвверждение заказа";
}

<h1>Подтверждение мобильного</h1>

<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    
    <div class="form-group">
        <label for="code">Код подтверждения</label>
        <input class="form-control" type="text" name="code" placeholder="0000" />
        @if (Model.Errors.ContainsKey("code"))
        {
            <small class="form-text text-danger">@Model.Errors["code"]</small>
        }
    </div>

    <button class="btn btn-success" type="submit">Проверить</button>
</form>


<p>Если на ваш номер SMS не пришла в течение минуты, проверьте правильность номера и повторите отправку кода.</p>


<form action="@Url.Action(nameof(OrderController.AgainSendConfimation))" method="post">

    <div class="form-group">
        <label>Мобильный телефон</label>
        @if(Model.Errors.ContainsKey("cellPhone"))
            {
                <small class="text-danger">@Model.Errors["cellPhone"]</small>
            }

        <input class="form-control" type="text" name="cellPhone" value="+79876543210"/>
    </div>

    <button class="btn btn-success" type="submit">Повторить код</button>
</form>