@model ConfimationModel
@{
    ViewData["Title"] = "Подтвверждение заказа";
}

<h1>Подтверждение мобильного</h1>

<form action="@Url.Action("Confirmate","Order")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId"/>
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />

    <div>
        <label for="code">Код подтверждения</label>
        <input class="form-control" type="text" name="code" placeholder="0000" />
        @if(Model.Errors.ContainsKey("code"))
            {
                <small class="form-text text-danger">@Model.Errors["code"]</small>
            }
    </div>

    <button class="btn btn-success" type="submit">Проверить</button>
</form>


<form action="@Url.Action("SendConfirmation")" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    
    <div class="form-group">
        <label>Мобильный телефон</label>
        <input class="form-control" type="text" name="cellPhone"/>

    </div>

    <button class="btn btn-success" type="submit">Повторить код</button>
</form>