@using StoreProduct.Web.Controllers
@model Form

@{ 
    ViewData["Title"] = "Параметры доставки";
} 

<h1>Параметры доствки</h1>

<form action="@Url.Action(nameof(OrderController.NextDelivery))" method="post">
    <input type="hidden" name="id" value="@Model.OrderId" />
    <input type="hidden" name="uniqueCode" value="@Model.UniqueCode" />
    <input type="hidden" name="step" value="@Model.Step" />

    @foreach(var field in Model.Fields)
     {
        if (field is HiddenField hidden)
        {
            <input type="hidden" name="values[@field.Name]" value="@field.Value"/>
        }

        if (field is SelectionField selection)
        {
            <div>
                <label for="values[@field.Name]">@field.Label</label>
                <select>
                    @foreach(var e in selection.Items)
                    {
                        <option value="@e.Key">@e.Value</option>
                    }
                </select>
            </div>
        }
     }

    <button class="btn btn-success"  type="submit">Далее</button>
</form>
