@model Maker

<p><strong>Название:</strong>@Model.Title</p>
<p><strong>Контактные данные:</strong></p>
    <p>     <i>Email</i>:@Model.Email</p>
    <p>     <i>Номер телефона</i>:@Model.NumberPhone</p>
<p><strong>Адрес организации:</strong>
    <a href="https://yandex.ru/maps/geo/moskva/53000094/?ll=37.385534%2C55.584227&source=wizgeo&utm_medium=maps-desktop&utm_source=serp&z=9">
        @Model.Addres
    </a>
</p>
<p><strong>Описание:</strong>@Model.Description</p>
<form action="@Url.Action(nameof(SearchController.GetAllProductsMakers),"Search")">
    <input type="hidden" name="idManufacture" value="@Model.Id"/>
    <button class="btn btn-success" type="submit">Все товары производителя</button>
</form>