@model ProductModel

<p><strong>Название:</strong>@Model.ProductTitle</p>
<p><strong>Производитель:</strong><a href="@Url.Action(nameof(InfoController.InfoManufacture), "Info", new { id = Model.MakerId})">@Model.MakerTitle</a></p>
<p><strong>Категория:</strong><a>@Model.Category</a></p>
<p><strong>Цена:</strong>@Model.Price</p>
<p><strong>Описание:</strong>@Model.Description</p>
<form action="@Url.Action(nameof(OrderController.AddItem),"Order")" method="post">
    <input type="hidden" name="id" value="@Model.ProductId" />
    <button class=" btn btn-success" type="submit">Добавить в корзину</button>
</form>